body {
  /* background-color: #343650; */
  background-color: #1e1f29;
  font-family: 'Red Hat Text', sans-serif;
  color: #fff;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.1rem;
  letter-spacing: 7px;
  margin: 80px 0;
}

.bg-stars {
  background-image: url("images/bg-stars.svg");
  background-repeat: no-repeat;
  height: 65vh;
  margin: 0;
}

.bg-hills {
  background-image: url("images/pattern-hills.svg");
  background-repeat: no-repeat;
  margin: 0;
  height: 25vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -3;
}

.squares {
  display: inline-grid;
  grid-template-columns: repeat(4, 150px);
}

.timeBox {
  transition: transform 0.2s;
  transform-style: preserve-3d;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  justify-self: center;
  display: inline-block;
  box-shadow: 0 10px #191a24;
  transform-style: preserve-3d;
  background: linear-gradient(to bottom, #2a2c41, #2a2c41 49.5%, #191a24, #191a24 50.5%, #343650, #343650 50.5%);
}


.pointBoxLeft {
  height: 14px;
  width: 7px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  top: 53px;
  background-color: #191a24;
}

.pointBoxRight {
  height: 14px;
  width: 7px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  top: 39px;
  left: 113px;
  background-color: #191a24;
  transform: scaleX(-1);
}

.line {
  position: relative;
  top: 22px;

}

.boxText {
  display: inline;
  font-size: 4rem;
  background-image: linear-gradient(to bottom, #fb567f, #fb567f 49.5%, #191a24, #191a24 50.5%, #fb6087, #fb6087 50.5%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  bottom: 10px;
}

.descriptionText {
  color: hsl(237, 18%, 59%);
  font-size: 0.7rem;
  letter-spacing: 7px;
  position: relative;
  top: 20px;
  display: inline;
}

.attribution {
  position: relative;
  top: 20vh;
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}
